<div class="content-heading">
    <div>
        <span>Analytics</span>
        <small>Bet Analytics</small>
    </div>
</div>


<div class="row">
   <div class="col-sm-12">
      <div class="col-sm-12 col-centered">
         <!-- START bar chart-->
         <div id="panelChart3" class="card mb3 border-danger">
            <div class="card-header bg-danger">
               <div class="card-title">Bet Analytics</div>
            </div>
            <div collapse="panelChart3" class="panel-wrapper">
               <div class="card-body" >
                  <%= column_chart [
                     {name: "Total Stakes", data: @amounts.map { |row| [row["date"].to_s, row["total_stake"].to_i] }.to_h },
                     {name: "Amount Won", data: @amounts.map { |row| [row["date"].to_s, row["total_amount_won"].to_i] }.to_h }
                  ],
                  height: "400px",
                  prefix: "UGX ",
                  thousands: ",",
                  library: {
                     title: { text: "Total Stakes and Amount Won Over Time", x: -20 },
                     yAxis: {
                        title: { text: "Amount (UGX)" },
                        labels: { format: 'UGX {value:,.0f}' }
                     },
                     xAxis: { title: { text: "Date" }, type: 'datetime' },
                     tooltip: { valuePrefix: 'UGX ', valueSuffix: '' },
                     legend: { layout: 'vertical', align: 'right', verticalAlign: 'middle', borderWidth: 0 },
                     plotOptions: {
                        series: {
                           pointStart: (@amounts&.first&.[]("date") || Date.today).to_time.to_i * 1000,
                           pointInterval: 24 * 3600 * 1000 # one day
                        }
                     }
                  } %>
               </div>
            </div>
         </div>
         <!-- END bar chart-->
      </div>
   </div>
</div>

<div class="row">
   <div class="col-sm-12">
      <div class="col-sm-12 col-centered">
         <!-- START bar chart-->
         <div id="panelChart3" class="card mb3 border-danger">
            <div class="card-header bg-danger">
               <div class="card-title">Bet Counts</div>
            </div>
            <div collapse="panelChart3" class="panel-wrapper">
               <div class="card-body" >
                  <div id="bet_counts_graph" style=" min-height: 400px; width: 100%; ">
                     <%= column_chart [
                        {name: "Bets", data: @counts.map { |row| [row["date"].to_s, row["total_bets"].to_i] }.to_h }
                     ],
                     height: "400px",
                     library: {
                        title: { text: "Settled and Unsettled Bets Over Time", x: -20 },
                        yAxis: { title: { text: "Number of Bets" } },
                        xAxis: { title: { text: "Date" }, type: 'datetime' },
                        legend: { layout: 'vertical', align: 'right', verticalAlign: 'middle', borderWidth: 0 },
                        plotOptions: {
                           series: {
                              pointStart: (@counts&.first&.[]("date") || Date.today).to_time.to_i * 1000,
                              pointInterval: 24 * 3600 * 1000 # one day
                           }
                        }
                     } %>
                  </div>
               </div>
            </div>
         </div>
         <!-- END bar chart-->
      </div>
   </div>
</div>
